@import url('https://fonts.googleapis.com/css2?family=Open+Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Poppins', sans-serif;

}
:root {
    --light-blue:#007bff;
    --dark-gray:#2c2d3f;
    --light-gray:#757575;
    --dg-white:#f6f6f6;
    --bg-newsletter:#edf2ff;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
h2,h3 {
    text-transform: capitalize;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/*header*/
header {
    box-shadow: 0px 1px 5px rgb(0,0,0,0.2);
   padding: 15px 0;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   background-color: white;
   z-index: 2;
}

header .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  gap: 20px;
}
header .container img {
    width: 220px;
}
header .container nav  {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav ul {
    display: flex;
}
header .container nav ul li a {
    color: black;
    margin-left: 30px;
    transition: 0.3s;
}
header .container nav ul li a:hover {
    color: var(--light-blue);
}
/*end header*/
/*home*/
.home {
    margin-top: 30px;
  padding: 100px 0;
  background: url(../images/bg-home.jpg) center center / cover /*fixed */repeat;
  background-color: rgb(var(--light-blue), 0.5); 
  background-blend-mode: multiply; 
 height: 100vh;
}
.home .container {
    display: flex;
  
    align-items: center;
   
    height: 100%;
    position: relative;
}
.home .home-contant {
    left: 0;
    position: absolute;
    width: 500px;
}
.home .home-contant h1 {
    text-transform: capitalize;
}
.home .container .home-contant small {
position: relative;
font-weight: 600;
margin-left: 40px;
}
.home .container .home-contant small img {
    width: 35px;
    position: absolute;
    top: -2px;
    left: -37px;
}
.home .container .home-contant span  {
color:var(--light-blue)
}
.home .container .home-contant p {
    color:var(--light-gray);
    margin: 20px 0;
    line-height: 1.6;
    font-weight: 500;
}
.home .container .home-contant .btn-primary {
    background-color: var(--light-blue);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: 400;
    margin-right: 15px;
}
.home .container .home-contant .btn-secondary {
    background-color: var(--dark-gray);
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    font-weight: 400
}
.home .container .home-contant .btn-primary:hover {
    background-color: var(--light-gray);
}
.home .container .home-contant .btn-secondary:hover {
    background-color: var(--light-gray);
}
/*end home*/
/*about*/
.about {
    padding: 100px 0;
}
 .main-heading {
    width: 40%;
    text-align: center;
    margin: auto; 
}
.main-heading h2 {
    text-transform: capitalize;
    font-size: 28px;
}
.main-heading img {
    width: 40px;
    margin: 15px 0;
}
.main-heading p {
    color:var(--light-gray);
    margin-bottom: 40px;
}
.about-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.about-contant img {
    width: 500px !important;
    height: 200px;
    margin:45px 0;
}

.about .about-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 90px;
  
}
.about .about-text p {
   color: var(--light-gray);
   line-height: 1.3;
}

.about .about-text h3 {
    padding: 10px 0;
    position: relative;
} 
 .about .about-text h3::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: var(--light-blue);
    top: 100%;
    left: -3px;
 }
 .about .about-text .pa {
    padding: 10px 0;
 }
 .about .about-text .pb {
    padding: 10px 0;
    margin-bottom: 10px;
 }
  .about .about-text ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 20px;
  }
  .about .about-text ul li {
    margin-right: 30px;
    position: relative;
  }
  .about .about-text ul li i {
    color:white;
    background-color: var(--light-blue);
    padding: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%)
  }
  /*end about*/
  /*info*/
  .info {
    position: relative;
    padding: 80px 0;
    background: url(../images/info-bg.jpg);
  }
   .info::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-blue);
    opacity: 0.7;
   }
.info-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.info-contant .box {
margin-left: 60px;
color:white;
z-index: 1;
position: relative;

}
.info-contant .box p{
    font-size: 12px;
}
.info-contant .box i {
position:absolute;
padding: 10px;
font-size: 20px;
top: 50%;
left: -60px;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
border: 1px solid white;
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
}
.info-contant .box i:hover {
    background-color: white;
    color: var(--light-blue);
}
  /*end info*/
  /*help*/
  .help {
    padding: 100px 0;
  }
  .help .main-heading {
    width: 48%;
  }
  .help-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .help-contant .box {
    
    padding: 20px;
    text-align: center;
    position: relative;
   
}
.help-contant .box i {
    font-size: 20px;
    padding: 15px;
    border: 1px solid var(--light-blue);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--light-blue);
    margin-bottom: 10px;
   
}
.help-contant .box h3 {
    margin-bottom: 10px;
}
.help-contant .box p {
    color: var(--light-gray);
    line-height: 1.5;
}
.help-contant .box:not(:last-child)::before {
    left: 85%;
    content: "";
    position: absolute;
    width: 35%;
    height: 2px;
    border-top: 3px dashed var(--light-blue);
    top: 25%;

 
}
  /*end help*/
  /*call*/
  .call {
    padding: 100px 0;
    background: url(../images/call-bg.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;

  }
  .call::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-blue);
    opacity: 0.7;
  }
  .call .contant-call {
    position: relative;
    z-index: 1;
    width: 700px;
    margin: 0 auto;
  }
  .call .contant-call h2{
    font-size: 40px;
    margin-bottom: 20px;
  }
   .call .contant-call p {
    margin-bottom: 25px;
   }
.call .contant-call a { padding: 8px 20px; border-radius:5px ; -webkit-border-radius:5px ; -moz-border-radius:5px ; -ms-border-radius:5px ; -o-border-radius:5px ;
}
.call .contant-call .btn-primary {
    margin-right: 10px;
    background-color: white;
    color: var(--light-blue);
}
.call .contant-call .btn-secondary {
    margin-left: 10px;
    background-color: var(--light-blue);
    color: white;
}
.call .contant-call .btn-primary:hover {
    background-color: var(--light-gray);
    color: white;
}
.call .contant-call .btn-secondary:hover {
    color: white;
    background-color: var(--light-gray);
}
  
  /*end call*/
  /*service*/
  .service {
    padding: 50px 0;
  }
  .service .service-contant{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
  .service .service-contant .box {
    margin-left: 30px;
    position: relative;
  }
  .service .service-contant .box p {
    color: var(--light-gray);
    padding: 10px 0;
  }
 .service .service-contant .box i {
    font-size: 30px;
    position: absolute;
    color: var(--light-blue);
    left: -45px;
 }
  /*end service*/
  /*price */
  .price {
    padding: 100px 0;
  background-color: var(--dg-white);
  }
  .price .main-heading {
    
    width: 43%;
   
  }
  .price .price-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px
  }
   .price .price-contant .box {
    background-color: #ffffff;
    border-radius: 12px;   
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding: 30px 0;
    text-align: center;
    position: relative;
   
}
[class~="icon"] {
    font-size: 30px;
    margin-bottom: 10px;
}
.price .price-contant .box h3 {
padding: 10px;
}
.price .price-contant .box p {
    color: var(--light-gray);
    padding: 10px;
}
.price .price-contant .box p span {
    font-weight: 900;
    color: var(--light-blue);
    font-size: larger;
}
.p {
    position:relative;
    left:-60px
}
.p i {
    position: relative;
    left: 120px;
}
.price .price-contant .box .active i {
   color: var(--light-blue);
}
.price .price-contant .box a {
    color:white;
    background-color: var(--light-blue);
    padding: 5px 100px;
    margin: 15px auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
    width: 80%;
    
}
  /*end price*/
  /*start brand */
  .brand {
    padding: 100px 0;
    background: url(../images/info-bg.jpg) center center / cover /*fixed */repeat;
    position: relative;
  }
   .brand::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--light-blue);
    opacity: 0.7;
  }
  .brand-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    z-index: 1;
    position: relative;
    text-align: center;
  }
  .brand-contant img {
    margin: auto;
  }
  
  /*end brand */
  /*doctors*/
  .doctors {
    padding: 100px 0;
   background-color: var(--dg-white);
  }
  .doctors .doctors-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .doctors .doctors-contant img {
    width: 100%;
    height: 300px;
  }
  .doctors .doctors-contant .box {
    background-color: #ffffff;
    border-radius: 12px;   
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px ;
    text-align: center;
    position: relative;
}
.doctors .doctors-contant .box h3 {
    padding: 10px;
}
.doctors .doctors-contant .box p {
    color:var(--light-blue);
    padding-bottom: 10px;
}
.doctors .doctors-contant .box a {
    display: block;
    color: white;
    background-color: var(--light-blue);
    padding: 5px 20px;
    margin: 15px auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width:fit-content;
}
  /*end doctors*/
  /*blog*/
  .blog {
    padding: 50px 0;
    
    background-color: var(--dg-white);
  }
  .blog .blog-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  
.blog .blog-contant img {
    width: 100%;
    height: 300px;
}
  .blog .blog-contant .box {
    background-color: #ffffff;
    border-radius: 12px;   
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px ;
    position: relative;
}
 .blog .blog-contant .box h3, .blog .blog-contant .box p {
    padding: 10px;
    margin-left: 5px;
 }
  .blog .blog-contant .box p {
    color:white;
    background-color: var(--light-blue);
    width: fit-content;
    margin: 5px 10px ;
    padding: 5px 15px;
    border-radius: 5px;
   
}
  /*end blog*/
  /*start contact*/
  .contact {
    padding: 50px 0;
 background-color: var(--dg-white);
  }
  .contact-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .contact-contant img {
    height: 400px;
    display: block;
    margin: auto;
    
  }
  .contact-contant .input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
.contact-contant a {
    display: block;
    color:white;
    background-color: var(--light-blue);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 5px;
    
}

  .contact-contant input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: var(--light-gray) 1px solid;
    
  }
  .sign {
    padding: 50px 0;
    background-color: var(--bg-newsletter);
  }
  .sign-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px
  }
  .sign-contant .text h3 {
    font-weight: 800;
    padding: 10px 0;
  }
  .sign-contant .text p{
    color: var(--light-gray);
  }
    .sign-contant .input {
        text-align: center;
        margin: auto;
    }
    .sign-contant .input a {
        color:white;
        background-color: var(--light-blue);
        width: fit-content;
        padding: 5px 15px;
        border-radius: 5px;
        margin-left: 10px;
    }
    .sign-contant .input input {
        padding: 5px;
        width: 305px;
        border: none;
    }
  /*end contact*/
  /*footer */
  footer {
    padding: 50px 0;
    background-color: var(--light-blue);
    color:white
  }
  footer .footer-contant {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
  }
  footer .footer-contant h3 {
    margin-bottom: 30px;
    position: relative;
  }
  footer .footer-contant h3::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: white;
  top: 130%;
  left: 0;
  }
  footer .footer-contant p {
    margin-bottom: 20px;
  }
  .footer-about ul  {
    display: flex;
  }
  .footer-about ul li {
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
}
.footer-links ul li  {
 padding: 10px;

 
}
.footer-links ul li i {
    margin-right: 5px;
}
.footer-links ul li a {
    color: white;
}
.footer-new input {
    padding: 10px;
    border: 1px solid white;
    background-color: var(--light-blue);
    width: 80%;
    
}
.footer-new input::placeholder {
    color:white
}
.footer-new i {
padding: 10px;
background-color:white;
color: var(--light-blue);
position: absolute;
height: 100%;
}
.footer-new .input {
    position: relative;
}

  /* end footer */
  /*copy-right*/
  .copy-right {
    padding: 30px 0;
    text-align: center;
    margin: auto;
    background-color: #17488f;
    color:white;
  }
  .copy-right span {
    font-weight: bold;
  }
  /*end copy-right*/
@media (max-width:991px) {
    .home,.about,.info,.blog,.contact,.sign,.footer,.brand,.doctors {
        padding: 50px 0;
    }
  header .container {
    
    grid-template-columns: auto 1fr;
    gap: 10px }
    header .container img {
    width: 60px;
}
header .container nav {
    
    justify-content: flex-start;
    
}
header .container nav ul {
    font-size: 13px;
}
header .container nav ul li a { 
        margin-left: 7px;
}
.home {
    text-align: center;
}
.about-contant {
    grid-template-columns: 1fr;
}
.info-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.home .home-contant {
    width: 100%;
}
.about .about-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 0px;
  }
    .about-contant img {
        width: 100% !important;
    }
    .help-contant {
    
    grid-template-columns: 1fr;
    
    }
    .help-contant .box:not(:last-child)::before {
        display: none;
    }
    .call .contant-call {
        width: 100%;
    }
    .service .service-contant {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.price .price-contant {
    
    grid-template-columns: 1fr ;
    
}
.brand-contant img {
    width:100%;
}
.brand-contant {
    
    gap: 10px;
    
}
.doctors .doctors-contant {
    
    grid-template-columns: 1fr ; 
   
}
.blog .blog-contant {
grid-template-columns: 1fr ; 
}
.contact-contant {
   grid-template-columns: 1fr ;  
}
.sign-contant {
    
    grid-template-columns: 1fr ;
}
.sign-contant .input a {
    display: block;
    margin: 10px auto;
}
footer .footer-contant {
     grid-template-columns: 1fr ; 
}
.copy-right {
    font-size: 15px;
}
 

}
